<div id='container'>
  <% @articles.each do |article| %>
    <span class='date'><%= pretty_date(article.meta[:date]) %></span>
    <div class='article hyphenate'>
      <h1 class='donthyphenate'><%= link article.meta[:title], article.path %></h1>
      <%= article.summary %>
    </div>
    <span class='full'><%= link "Full Article &#x2192;", article.path %></span>
    <hr/>
  <% end %>
  <div id='article-nav'>
    <% if @page == 0 %>
      <%= link "&#8619; Older Articles", "/blog/#{@page+1}" if more_pages?(@page)%>
      <%= "No Older Articles" if !more_pages?(@page)%>
    <% elsif more_pages?(@page) %>
      <%= link "&#8592; Older Articles", "/blog/#{@page+1}" %>
      <span> | </span>
      <%= link "Newer Articles &#8594;", "/blog/#{@page-1}" %>
    <% else %>
      <%= link "Newer Articles &#8620;", "/blog/#{@page-1}" %>
    <% end %>
  </div>
</div>
